.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
}

.header {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0 20px;
  padding: 5px 10px;

  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;

  background-color: #2ecc71;
  border-radius: 10px;

  transition: 0.3s;
}

.link:hover {
  background-color: #27ae60;
}
